{% extends "base.html" %}
{% load static %}
{% block title %} Vote on Review {% endblock %}

{% block main %}
    <h1>Vote on Review of <span>{{ review.product.name }}</span></h1>

    <div class="review">
        <p>Product: {{ review.product.name }}</p>
        <p>Review: {{ review.body }}</p> <!-- TODO: make this as a list -->
        <p>By: {{ review.email }}</p>
        <!-- <p><strong>Total votes:</strong> {{ review.total_votes }}</p> -->
    </div>

    <form 
        method="post"
        action="{% url 'reviews:create_vote_submit' review.id %}"
    >
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {{ form }}  

        <button type="submit" class="btn-vote">Vote as Helpful</button>

{% endblock %}