{% extends "base.html" %}
{% load static %}
{% block title %} Flag this Review {% endblock %}
{% block main %}
    <h1>Flag Review</h1>
    <form method="post" action="{% url 'reviews:flag_review' review.id %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form }}

        <button type="submit">Report review</button>

    </form>

{% endblock %}