h1 {
    color: #532a2a;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    list-style: none;
}

.product-list a {
    text-decoration: none;
    color: #684611;
}

.product-card {
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-card:hover {
    background-color: #f9f3f3;
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
}

.category-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.category-list a:hover {
    text-decoration: underline;
}

.breadcrumb {
    list-style: none;
}

.breadcrumb a {
    color: black;
}

