{% load static %}

<ul class="product-list">
    {% for product in products %}
    <li class="product-card">
        <a class="product-card-stretched-link" href="{% url 'products:product_detail' product.id %}"
            aria-label="View {{ product.name }}"></a>
        <div class="product-image-stack">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image product-image-default">
            {% else %}
                <img src="{% static 'images/default_flower.png' %}" alt="Default flower" class="product-image product-image-default">
            {% endif %}

            {% if product.hover_image %}
                <img src="{{ product.hover_image.url }}" alt="{{ product.name }} alternate view" class="product-image product-image-hover">
            {% endif %}
            {% if product.is_available %}
                <form class="product-hover-cta" method="post" action="{% url 'orders:add_cart_item' product.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit">+ Add to cart</button>
                </form>
            {% else %}
                <div class="product-hover-cta">
                    <button type="button" disabled>Out of stock</button>
                </div>
            {% endif %}
        </div>
        <h3 class="product-name">
            <a href="{% url 'products:product_detail' product.id %}">
                {{ product.name }}
            </a>
        </h3>
        <p class="product-price">${{ product.price }} CAD</p>
    </li>
    {% endfor %}
</ul>