{% extends "base.html" %}
{% load static %}
{% block title %}Checkout{% endblock %}

{% block main %}
    <diV class="checkout-container">
        <section class="checkout-detail">
            {% if rows %}
                <table>
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Unit price</th>
                        <th>Quantity</th>
                        <th>Line total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product, quantity, line_total in rows %}
                        <tr>
                            <td>
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% endif %}</td>
                            <td>     {{ product.name }}</td>


                            <td>${{ product.price }}</td>
                            <td>{{ quantity }}</td>
                            <td>${{ line_total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </section>
                <section class="checkout-info">
                <p>Order total: ${{ order_total }}</p>

                <form method="post" action="{% url 'orders:checkout_start' %}">
                    {% csrf_token %}
                    <button class="checkout-btn" type="submit">Pay with Stripe</button>
                </form>

                <p>
                    <a class="back-to-cart" href="{% url 'orders:cart_detail' %}">Back to cart</a>
                </p>

            {% else %}
                <p>Your cart is empty.</p>
                <p><a href="{% url 'flowerproducts:index' %}">Continue shopping</a></p>
            {% endif %}
            </section>
    </diV>
{% endblock main %}