{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block main %}
<section class="login-page">
    <h1>Login</h1>
    <div class="login-container">
        <form method="post" action="{% url 'accounts:login_submit' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next|default:'' }}">
            <div class="form-group">
                <label for="id_username">Email</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button type="submit">Login</button>
        </form>
        <p><a href="{% url 'accounts:password_reset' %}">Forgot your password?</a></p>
        <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register here</a></p>
    </div>
</section>
{% endblock main %}



