<h2>{{ user.full_name }}'s Account</h2>

<h3>Profile Information</h3>
<form method="post" action="{% url 'accounts:profile_update' %}">
    {% csrf_token %}
    <label for="id_full_name">Full name</label>
    {{ profile_form.full_name }}
    <label for="id_email">Email</label>
    {{ profile_form.email }}
    <button type="submit">Update profile</button>
</form>

<h3>Change Password</h3>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form method="post" action="{% url 'accounts:profile_password_update' %}">
    {% csrf_token %}
    {{ password_form }}
    <button type="submit">Update password</button>
</form>

<h2>My Orders</h2>
{% if orders %}
    <ul>
    {% for order in orders %}
        <li>
            Order created at: {{ order.created_at }}
            <ul>
                {% for item in order.items.all %}
                    <li>
                        {{ item.product.name }} : ${{ item.unit_price }} x {{ item.quantity }}
                    </li>
                {% endfor %}
            </ul>
            Total price: ${{ order.total_price }}
        </li>
    {% endfor %}
    </ul>   
{% else %}
    <p>You have no orders yet.</p>
{% endif %}

<a href="{% url 'home' %}" class="btn-continue">Go back home</a>