{% extends "base.html" %}
{% load static %}
{% block breadcrumbs %}
    <li><a href="{% url 'products:index' %}">Home</a></li>
    <li><a href="{% url 'products:categories' %}">Categories</a></li>
    <li aria-current="page">{{ category.name }}</li>
{% endblock %}

{% block main %}
    <h1>{{ category.name }}</h1>
    <p>Description:{{ category.description }}</p>

    <form method="get">
        {{ cat_form }}
        <button type="submit">Apply</button>
    </form>

    {% include "products/snippets/product_list.html" %}
{% endblock %}
