{% extends "base.html" %}

{% block breadcrumbs %}
    <li><a href="{% url 'products:index' %}">Home</a></li>
    <li aria-current="page">Categories</li>
{% endblock %}

{% block main %}
    <h1>Categories</h1>

    <ul class="category-list">

        {% for category in categories %}

            <li class="category-card">
            <h3>
                <a href="{% url 'products:category' category.id %}">
                    {{ category.name }}
                </a>
            </h3>
            <p>{{ category.description }}</p>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
