<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}Flower Store{% endblock %}</title>

     {% block extra_css %}{% endblock %}
</head>

<body>

<header id="site-header">
    <a href="{% url 'flowerproducts:index' %}">
        <img id="logo" src="{% static 'images/logo.png' %}" alt="Flower shop logo" >
        <!-- 🌸Flower Store🌸 -->
    </a>
</header>

<nav id="main-nav">
    <ul>
        <li>
            <a href="{% url 'flowerproducts:index' %}">Home</a>
        </li>
        
        <li>
            <a href="{% url 'flowerproducts:categories' %}">
                Categories
            </a>
        </li>
    </ul>
</nav>

<!-- <header>
    <nav id="breadcrumbs">
        <ul>
            {% block breadcrumbs %}{% endblock %}
        </ul>
    </nav>
</header> -->
<main
        class="
            {{ request.resolver_match.app_name }}
            {{ request.resolver_match.url_name }}
        "
>
    {% block main %}{% endblock %}
</main>

</body>
</html>
